[project]
	description = You can use it for training purpose
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Gu (sysintelligent)
[access "refs/for/refs/*"]
	read = group user/David Gu (sysintelligent)
	push = group user/David Gu (sysintelligent)
	label-Code-Review = -2..+2 group user/David Gu (sysintelligent)
	label-Verified = -1..+1 group user/David Gu (sysintelligent)
	rebase = group user/David Gu (sysintelligent)
	removeReviewer = group user/David Gu (sysintelligent)
	submit = group user/David Gu (sysintelligent)
[access "refs/heads/*"]
	read = group user/David Gu (sysintelligent)
	create = group user/David Gu (sysintelligent)
	push = +force group user/David Gu (sysintelligent)
	pushMerge = group user/David Gu (sysintelligent)
[access "refs/tags/*"]
	push = +force group user/David Gu (sysintelligent)
	pushTag = group user/David Gu (sysintelligent)
	pushSignedTag = group user/David Gu (sysintelligent)
